{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>About</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Projeto de Segurança e Investigação Privada</h1>
                    <p class="lead mb-0">A ideia do projeto é o desenvolvimento de um site que poderia ser usado por uma empresa de segurança e investigação privada para oferecer serviços, realizar propagandas e demonstrar suas funções por meio de clientes atuais.
                        A ideia veio por conta da falta de empresas nesse mercado e senti uma certa lacuna nesse quesito.
                    </p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <img class="card-img-top" src="{% static 'aa.jpg' %}" />
                        <div class="card-body">
                            <div class="small text-muted">Trabalho Individual</div>
                            <h2 class="card-title">Nome: Vitor Tavares de Oliveira</h2>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <img class="card-img-top" src="{% static 'Screenshot_2.jpg' %}" alt="..." />
                                <div class="card-body">
                                    <div class="small text-muted">Diagrama de Caso de Uso</div>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <img class="card-img-top" src="{% static 'Screenshot_1.jpg' %}" alt="..." />
                                <div class="card-body">
                                    <div class="small text-muted">Diagrama de Classes</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
