{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Contrate!</span>
                        <span class="section-heading-lower">Operadores</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            <b>Nome</b>
                            <span class="ms-auto"><b>Rank</b></span>
                            <span class="ms-auto"><b>Departamento</b></span>
                        </li>

                        {% for operator in object_list %}
                        <li class="list-unstyled-item list-hours-item d-flex">
                            {{operator.name}}
                            <span class="ms-auto">{{operator.rank}}</span>
                            <span class="ms-auto">{{operator.department}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <p class="address mb-5">
                        <em>
                            <strong>1116 Orchard Street</strong>
                            <br />
                            Golden Valley, Minnesota
                        </em>
                    </p>
                    <p class="mb-0">
                        <small><em>Call Anytime</em></small>
                        <br />
                        (317) 585-8468
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
        {% endblock %}
